<p4>Post details:</p4>
<p>
	<br/>
	<%=@row['content']%>
	<br/>
	<br/>
		<h6>Added at <%= @row['created_date']%></h6>
		<br/>
		
</p>
<p4>Comments:</p4>
<br/>
<form action='/details/<%=@row['id']%>' method='POST'>
  <textarea  name="content" class="form-control" rows="6" placeholder="Enter comment text"></textarea>
	<br/>  
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>