<h2>Latest posts: </h2>
	<br/>
<% @results.each do |post|%>
	<p>
	<%=post['content']%>
	<br/>
	<br/>
		<h6>Added at <%= post['created_date']%></h6>
		<br/>
		<a href="/post/<%= post['id']%>">Comments</a>
	</p>
	<hr/>
<% end %>