<h2>Latest posts </h2>

<table class="table">
	<head>
		<th>Created Date</th>
		<th>Post</th>
	</head>
    <body>
    	<% @results.each do |row|%>
  		<tr>
  			<td><%=row['created_date']%></td>
  			<td><%=row['content']%></td>
  		</tr>
  		<% end %>
    </body>
</table>