
<h2>Add new post <h2>
	<form>
	  <div class="form-group">
	    	<textarea class="form-control" rows="6"></textarea>
	  </div>
	  <button type="button" class="btn btn-primary">Primary</button>
	</form>